/CLM Migration - Full Exception Data Report 3.14.2023 (w. addepar, & closed).xlsx
/first republic.code-workspace
/output.csv
/run report.xlsx
/run_exception_report.py
/scrap.py
/tableau export 2.py
/working files
/_compare.xlsx